<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kotris_crm_user_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0073D3DA3CDC79E313BF7B1D7D808E8C9321E3C0</string>
				<key>dateExpires</key>
				<string>5/28/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0073D3DA3CDC79E313BF7B1D7D808E8C9321E3C0</string>
						<key>dateExpires</key>
						<string>5/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireDynamic.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RE6E5JCJVJ</string>
						<key>name</key>
						<string>Korea Railroad Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0073D3DA3CDC79E313BF7B1D7D808E8C9321E3C0</string>
						<key>dateExpires</key>
						<string>5/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RailPlusPlasticCardSdk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RE6E5JCJVJ</string>
						<key>name</key>
						<string>Korea Railroad Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0073D3DA3CDC79E313BF7B1D7D808E8C9321E3C0</string>
						<key>dateExpires</key>
						<string>5/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RE6E5JCJVJ</string>
						<key>name</key>
						<string>Korea Railroad Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0073D3DA3CDC79E313BF7B1D7D808E8C9321E3C0</string>
						<key>dateExpires</key>
						<string>5/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>RE6E5JCJVJ.com.korail.rail.widget</string>
						<key>com.apple.developer.team-identifier</key>
						<string>RE6E5JCJVJ</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.korail.rail.widget</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>KotrisRailplusWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>d9eb01f4-a641-4e30-9da4-97c1b8392ac8</string>
						<key>dateExpires</key>
						<string>9/18/26</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.korail.rail.widget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RE6E5JCJVJ</string>
						<key>name</key>
						<string>Korea Railroad Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RE6E5JCJVJ.com.korail.rail</string>
				<key>com.apple.developer.nfc.readersession.formats</key>
				<array>
					<string>TAG</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>RE6E5JCJVJ</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.korail.rail.widget</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array/>
			</dict>
			<key>name</key>
			<string>kotris_crm_user_app.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ed382410-9bb2-4e9c-81e8-0d37fc99e2c9</string>
				<key>dateExpires</key>
				<string>9/18/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.korail.rail</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RE6E5JCJVJ</string>
				<key>name</key>
				<string>Korea Railroad Corporation</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
